<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= bootstrap_form_for(@holiday) do |form| %>
		      <p><%= form.select :employee_id, options_for_select(Employee.all.collect{ |e| [e.name, e.id] }) %></p>

			<p><%= form.date_field :start_date, class: 'date-field' %></p>
			<p><%= form.date_field :end_date, class: 'date-field' %></p>
			<p><%= form.select :leave_type, ['lop', 'sl','cl']%></p>

			<%= form.submit "save", class: 'btn btn-primary' %>
			<%= form.submit "cancel", class: 'btn btn-primary' %>

		<% end %>
	</div>
</div>
