<div class="col-md-11 ">
  <div class="row">
    <% @employees.each do |employee| %>
      <div class="col-md-6 ">
          <ul>
            <%=employee.name%><br>
            <%=employee.city%><br>
            <%=employee.salary%><br>
            <%=employee.job_tittle%><br>
            <%=employee.date_of_joining%><br> 
            <%=employee.date_of_birth%><br>
            <%=employee.mobile_number%><br>
            <%=employee.country%><br>
          </ul>
          <%= link_to 'Destroy', employee_path(employee), :method => :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %>
            <%= link_to 'Edit', edit_employee_path(employee) ,class: "btn btn-primary"%>
          
        </div>
      </div>
    <%end%>
    <div class="container-fluid">
      <%= link_to 'salary ', new_salary_path,class: 'btn btn-primary' %><br><br>
    </div>
  </div>
</div>


  